@model IEnumerable<DataAccess.Models.ImageModel>

@{
    ViewBag.Title = "Home_";
}

<h2>Home_</h2>

<p>
    <div id="theAdd">
        @Html.Partial("_add", new DataAccess.Models.ImageModel())
    </div>
</p>

<div id="theTable">
    @Html.Partial("_table", Model)
</div>