
@{
    ViewBag.Title = "_Start";
}

<head>
    <title>Images viewer</title>
</head>

<div id="header">
    @Html.Partial("~/Views/Shared/_Header.cshtml")
</div>

@RenderBody()

<div id="footer">
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</div>

